.git
.dart_tool
.idea
*.iml
android/.gradle
android/app/build
ios/Pods
linux/flutter/ephemeral
macos
windows
test
**/node_modules
server/data
.env
# Allow build/web for nginx image; ignore other build artifacts
build/flutter_assets
build/native_assets
build/*.dill
build/*.stamp
