# Dependencies
node_modules/
dist/

# Flutter legacy
flutter_legacy/.dart_tool/
flutter_legacy/build/
flutter_legacy/.flutter-plugins-dependencies
**/android/.gradle/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
.env

# Logs
*.log
npm-debug.log*
